*{
  margin: 0;
  padding: 0;
}

body{
  background:#000;
  color:white;
}

/* Navbar */
header{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  z-index:100;
  /* background:rgba(0,0,0,0.6); */
  /* backdrop-filter: blur(10px); */
}

/* header:hover{ */
  /* background-color: white; */
  /* color: white; */
/* } */

.logo img{
    height: 70px;
    position: absolute;
    left: 1%;
    top: 10%;    
}

.logo h1{
  font-size:26px;
  font-weight:bold;
  margin-top: 10px;
  margin-left: 10px;
}

.logo .tm{
  font-size: 8px;
  position: absolute;
  top: 38%;
  left: 14.50%;
  color: #c9c9c9;
}

.logo .growth{
  font-size: 12px;
  position: absolute;
  top: 60%;
  left: 6%;
  color: #c9c9c9;
  font-family: serif;
}

/* .logo h1:hover{ */
  /* color: black; */
/* } */

/* .logo .tm:hover{ */
  /* color: black; */
/* } */

/* .logo span:hover{ */
  /* color: black; */
/* } */

/** Nav Bar */

.nav-bar{
  height: 40px;
  width: 700px;
  margin-top: 20px;
}

nav a{
  margin:0 15px;
  text-decoration:none;
  color:white;
  font-size: 1.20rem;
}

.bayellow{
  height: 50px;
  width: 160px;
  position: absolute;
  top: 29%;
  left: 80%;
  background-color: #c6ff00;
  border-radius: 20px;
}

nav button{
  background:#c6ff00;
  border:none;
  font-size: 1.10rem;
  cursor:pointer;
  position: absolute;
  top: 30%;
  left: 15%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}
.lobtn{
  height: 27px;
  width: 27px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  left: 80%;
}

.lobtn i{
  position: absolute;
  top: 22%;
  left: 10%;
}

/* Hero */
.hero{
  position:relative;
  height:100vh;
  overflow:hidden;
}

.hero video{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.7);
}

.hero-content{
  position:relative;
  z-index:2;
  height:20%;
  position: absolute;
  top: 25%;
  left: 10%;
  padding:20px;
}

.hero-content h1{
  font-size:70px;
}

.hero-content p{
  max-width:900px;
  margin-top: px;
  font-size: 23px;
  color:#ccc;
}


.gogo-section{
  height: 60px;
  width: 500px;
  position: absolute;
  top: 70%;
  left: 11%;
  display: flex;
  justify-content: space-between;
}

.book p{
  position: absolute;
  top: 85%;
  left: 11%;
  font-size: 1.50rem;
}
 
.book a{
  color: white;
}

/* Second page */

.review{
  background:#f6f6f6;
  padding:60px 0;
  text-align:center;
}

.rating-bar{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  font-size:18px;
  margin-bottom:50px;
}

.star{
  color:#2b6df3;
  font-size:22px;
}

.rating{
  font-weight:bold;
  color: #000;
  font-size: 1.60rem;
}
.text{
  color: #555;
  font-size: 1.39zrem;
}

.logos img{
  width:25px;
  margin-left:8px;
}

.stats-container{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:1000px;
  margin:auto;
}

.stat-box{
  flex:1;
  padding:20px;
}

.stat-box h2{
  font-size:55px;
  margin:0;
  color: #000;
  font-weight:bold;
}

.stat-box p{
  margin-top:10px;
  color:#555;
  font-size:20px;
}

.line{
  width:1px;
  height:80px;
  background:#ccc;
}

/* Page three */

.devlopment{
  height: 140vh;
  width: 100%;
  background-color: #e6eef1;
}

.devlopment h1{
  position: absolute;
  top: 170%;
  left: 13%;
  color: #000;
  font-size: 3.40rem;
}

.devlopment span{
  position: absolute;
  top: 90%;
  left: 40%;
  color: #000;
}

.devlopment p{
  position: absolute;
  top: 190%;
  left: 13%;
  font-size: 1.40rem;
  color: #555;
}

.card-clection{
  height: 390px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 210%;
  left: 8%;
}

.card-clection .card{
  height: 390px;
  width: 23%;
  background-color: white;
  border: 1px solid;
  border-color: #555;
  border-radius: 7px;
}

.card img{
  margin-top: 27px;
  margin-left: 30px;
}

.card h2{
  color: #000;
  margin-left: 30px;
  font-size: 1.80rem;
}

.card p{
  color: #555;
  margin-left: 30px;
  margin-top: 10px;
  max-width: 17%;
  font-size: 1.30rem;
  position: absolute;
  top: 28%;
  left: -0%;
}

.card .carda{
  color: #555;
  margin-left: 30px;
  margin-top: 10px;
  max-width: 20%;
  position: absolute;
  top: 28%;
  left: 26%;
}

.card .a{
  margin-top: 180px;
  
}

.card .cardb{
  color: #555;
  margin-left: 30px;
  margin-top: 10px;
  max-width: 20%;
  position: absolute;
  top: 37%;
  left: 51%;
}

.card .cardc{
  color: #555;
  margin-left: 30px;
  margin-top: 10px;
  max-width: 15%;
  position: absolute;
  top: 37%;
  left: 77%;
}

.card .b{
  margin-top: 150px;
  
}
.card .exp{
  height: 40px;
  width: 240px;
  margin-top: 30px;
  margin-left: 18px;
  background-color: #e6eef1;
}
.exp .explor{
  text-decoration: none;
  color: #000;
  margin-left: 28px;
  position: absolute;
  top: 84%;
}

/* Page for  */

.marketing-page{
  height: 120vh;
  width: 100%;
  background-color: blue;
}

.marketing-page h1{
  font-size: 3rem;
  position: absolute;
  top: 300%;
  left: 7%;
  font-family: sans-serif;
}

.marketing-page .a{
  font-size: 1.50rem;
  position: absolute;
  top: 310%;
  left: 7%;
  max-width: 50%;
}

.marketing{
  height: 130px;
  width: 680px;
  background-color: white;
  position: absolute;
  top: 327%;
  left: 7%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.marketing-card{
  height: 80px;
  width: 150px;
  background-color: blue;
  margin-top: 26px;
  margin-left: 20px;
  border-radius: 10px;
}